<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/cssFiles/home.css">



</head>
<body>

<div class="container">
  <h1 class="pb-5 pt-5 center">M. Saeed Color Store</h1>
  <div class="list-group">
    <a href="/stock" class="list-group-item fa fa-database"><i class=" mx-3 ">Stock</i></a>
    <a href="/customers" class="list-group-item fa fa-users"><i class="mx-3">Customers</i></a>
    <a href="orders/createOrder" class="list-group-item fa fa-plus-square"><i class="mx-3">Create Order</i></a>
    <a href="orders/defaulters" class="list-group-item fa fa-user-times"><i class="mx-3">Defaulters</i></a>
    <a href="stock/required" class="list-group-item fa fa-upload"><i class="mx-3">Stock Required</i></a>
  </div>
</div>

</body>
</html>
