<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Defaulters</title>
</head>
<body>
    <div class="container pt-5">
        <ul class="list-group">
            <% for(customer of defaulters) {%>
            <li class="list-group-item list-group-item-danger  d-flex justify-content-between align-items-center">
              <%=customer.name%>
              <span class="badge badge-primary badge-pill"><%=customer.balance%></span>
            </li>
            <%}%>
          </ul>
    </div>
    
</body>
</html>